- name: Validate system & install prerequisites
  ansible.builtin.import_tasks: prerequisites.yml

- name: Configure database for Keycloak (optional)
  ansible.builtin.import_tasks: postgresql.yml

- name: Install and configure Keycloak
  ansible.builtin.import_tasks: keycloak.yml

- name: Configure and start Keycloak service
  ansible.builtin.import_tasks: services.yml

- import_tasks: realm.yml
  when: keycloak_bootstrap_admin | bool

- name: Verify Keycloak availability
  ansible.builtin.import_tasks: verify.yml
