---
- name: Create Azure OIDC Identity Provider
  ansible.builtin.command: >
    {{ keycloak_install_dir }}/bin/kcadm.sh create identity-provider/instances
    -r {{ keycloak_realm_name }}
    -s alias={{ item.alias }}
    -s providerId=oidc
    -s enabled=true
    -s displayName="{{ item.display_name }}"
    -s config.discoveryUrl="{{ item.discovery_endpoint }}"
    -s config.clientId="{{ item.client_id }}"
    -s config.clientSecret="{{ item.client_secret }}"
    -s config.defaultScope="{{ item.default_scopes }}"
  loop: "{{ keycloak_oidc_providers }}"
  become_user: "{{ keycloak_user }}"
  register: oidc_create
  failed_when: false
  changed_when: "'Created' in oidc_create.stdout"

- name: Ensure OIDC IdP is visible on login page
  ansible.builtin.command: >
    {{ keycloak_install_dir }}/bin/kcadm.sh update identity-provider/instances/{{ item.alias }}
    -r {{ keycloak_realm_name }}
    -s enabled=true
    -s displayName="{{ item.display_name }}"
    -s config.guiOrder=1
  loop: "{{ keycloak_oidc_providers }}"
  become_user: "{{ keycloak_user }}"
