---
- name: Create Azure Entra ID OIDC Identity Provider
  ansible.builtin.command: >
    {{ keycloak_install_dir }}/bin/kcadm.sh create identity-provider/instances
    -r master
    -s alias=azure
    -s providerId=oidc
    -s enabled=true
    -s displayName="Login with Azure"
    -s config.discoveryUrl="https://login.microsoftonline.com/fdd1df9e-7189-45b1-b2bc-fe37e48899df/v2.0/.well-known/openid-configuration"
    -s config.clientId="{{ item.client_id }}"
    -s config.clientSecret="{{ item.client_secret }}"
    -s config.defaultScope="openid profile email"
    -s config.clientAuthMethod=client_secret_basic
    -s trustEmail=true
    -s firstBrokerLoginFlowAlias=first broker login
    -s hideOnLogin=false
  loop: "{{ keycloak_oidc_providers }}"
  become_user: "{{ keycloak_user }}"
  failed_when: false
  register: oidc_create
  failed_when: false
  changed_when: "'Created' in oidc_create.stdout"

- name: Ensure OIDC IdP is visible on login page
  ansible.builtin.command: >
    {{ keycloak_install_dir }}/bin/kcadm.sh update identity-provider/instances/{{ item.alias }}
    -r {{ keycloak_realm_name }}
    -s enabled=true
    -s hideOnLogin=false
    -s authenticateByDefault=false
    -s config.guiOrder=1
  loop: "{{ keycloak_oidc_providers }}"
  become_user: "{{ keycloak_user }}"
