---
- name: Configure OIDC Identity Providers (leader only)
  ansible.builtin.include_tasks: idp-oidc.yml
  when:
    - keycloak_identity_providers.oidc | bool
    - keycloak_oidc_providers | length > 0
    - inventory_hostname == groups['keycloak_nodes'][0]
    
- name: Configure OIDC Identity Providers (leader only)
  ansible.builtin.include_tasks: idp-oidc.yml
  when:
    - keycloak_identity_providers.oidc | bool
    - keycloak_oidc_providers | length > 0
    - inventory_hostname == (groups['keycloak_nodes'] | default([]) | first)
