- name: Validate system & install prerequisites
  ansible.builtin.include_tasks: prerequisites.yml

- name: Configure database for Keycloak
  ansible.builtin.include_tasks: postgres.yml
  when: keycloak_manage_db | bool

- name: Install and configure Keycloak
  ansible.builtin.include_tasks: install.yml

- name: Configure and start Keycloak service
  ansible.builtin.include_tasks: services.yml

- name: Verify Keycloak availability
  ansible.builtin.include_tasks: verify.yml

- name: Configure Keycloak Realm
  ansible.builtin.include_tasks: realm.yml
  when: keycloak_bootstrap_admin | bool

- name: Configure Identity Providers
  include_tasks: idp.yml
