---
# -------------------------------------------------------------------
# PostgreSQL objects required for Keycloak
# Executed only when keycloak_manage_db = true
# -------------------------------------------------------------------

- name: Validate PostgreSQL connectivity for Keycloak
  community.postgresql.postgresql_ping:
    login_host: "{{ postgres_host }}"
    login_user: "{{ keycloak_db_user }}"
    login_password: "{{ keycloak_db_password }}"
    login_port: "{{ postgres_port }}"
  register: keycloak_db_ping
  failed_when: not keycloak_db_ping.is_available
  when: not keycloak_manage_db | bool


- name: Create Keycloak database
  community.postgresql.postgresql_db:
    name: "{{ keycloak_db_name }}"
    state: present
    login_host: "{{ postgres_host }}"
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_port: "{{ postgres_port }}"
  when: keycloak_manage_db | bool

- name: Create Keycloak database user
  community.postgresql.postgresql_user:
    name: "{{ keycloak_db_user }}"
    password: "{{ keycloak_db_password }}"
    state: present
    login_host: "{{ postgres_host }}"
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_port: "{{ postgres_port }}"
  when: keycloak_manage_db | bool

- name: Grant privileges on Keycloak database
  community.postgresql.postgresql_privs:
    database: "{{ keycloak_db_name }}"
    role: "{{ keycloak_db_user }}"
    privs: ALL
    type: database
    state: present
    login_host: "{{ postgres_host }}"
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_port: "{{ postgres_port }}"
  when: keycloak_manage_db | bool

- name: Ensure Keycloak database owner is correct
  community.postgresql.postgresql_owner:
    db: "{{ keycloak_db_name }}"
    new_owner: "{{ keycloak_db_user }}"
    login_host: "{{ postgres_host }}"
    login_user: "{{ postgres_admin_user }}"
    login_password: "{{ postgres_admin_password }}"
    login_port: "{{ postgres_port }}"
  when: keycloak_manage_db | bool
