---
# Validate platform compatibility

- name: Validate supported operating system
  assert:
    that:
      - ansible_distribution == "Ubuntu"
      - ansible_distribution_major_version | int >= 20
    fail_msg: >
      Unsupported OS detected.
      This role supports Ubuntu 20.04+ only.
    success_msg: >
      Supported OS detected.

# Install base dependencies
- name: Install base packages
  apt:
    name:
      - curl
      - tar
      - python3-psycopg2
      - acl
    update_cache: yes
