---
- name: Login to Keycloak using kcadm (local HTTP)
  ansible.builtin.command: >
    {{ keycloak_install_dir }}/bin/kcadm.sh config credentials
    --server http://127.0.0.1:{{ keycloak_http_port }}
    --realm master
    --user {{ keycloak_admin_user }}
    --password {{ keycloak_admin_password }}
  become_user: "{{ keycloak_user }}"

- name: Disable HTTPS requirement for master realm (DEV / DEMO)
  ansible.builtin.command: >
    {{ keycloak_install_dir }}/bin/kcadm.sh update realms/master
    -s sslRequired=NONE
  become_user: "{{ keycloak_user }}"
  when:
    - keycloak_http_enabled | bool
    - (keycloak_https_enabled | bool) == false
