- name: Install Keycloak systemd service
  ansible.builtin.template:
    src: keycloak.service.j2
    dest: /etc/systemd/system/keycloak.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - systemd daemon reload
    - restart keycloak

- name: Flush systemd handlers before starting service
  ansible.builtin.meta: flush_handlers

- name: Enable and start Keycloak service
  ansible.builtin.systemd:
    name: keycloak
    enabled: true
    state: started
