---
# -------------------------------------------------------------------
# PostgreSQL objects required for Keycloak
# Executed only when keycloak_manage_db = true
# -------------------------------------------------------------------

- name: Ensure PostgreSQL service is running
  ansible.builtin.systemd:
    name: postgresql
    state: started
  when: keycloak_manage_db | bool

- name: Create Keycloak database
  community.postgresql.postgresql_db:
    name: "{{ keycloak_db_name }}"
    state: present
  become_user: postgres
  when: keycloak_manage_db | bool

- name: Create Keycloak database user
  community.postgresql.postgresql_user:
    name: "{{ keycloak_db_user }}"
    password: "{{ keycloak_db_password }}"
    state: present
  become_user: postgres
  when: keycloak_manage_db | bool

- name: Grant privileges on Keycloak database
  community.postgresql.postgresql_privs:
    database: "{{ keycloak_db_name }}"
    role: "{{ keycloak_db_user }}"
    privs: ALL
    type: database
    state: present
  become_user: postgres
  when: keycloak_manage_db | bool

- name: Ensure Keycloak database owner is correct
  community.postgresql.postgresql_owner:
    db: "{{ keycloak_db_name }}"
    new_owner: "{{ keycloak_db_user }}"
  become_user: postgres
  when: keycloak_manage_db | bool
