# Admin bootstrap
KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak_admin_user }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak_admin_password }}

# HTTP enabled (because TLS is on nginx)
KC_HTTP_ENABLED=true
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_HOSTNAME=

# Proxy (nginx terminates TLS)
KC_PROXY=edge
KC_PROXY_HEADERS=xforwarded

