# -------- Admin bootstrap --------
KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak_admin_user }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak_admin_password }}

# -------- Database secret --------
KC_DB_PASSWORD={{ keycloak_db_password }}
