[Unit]
Description=Keycloak
After=network.target
Wants=network.target

[Service]
Type=simple
User={{ keycloak_user }}
Group={{ keycloak_group }}
WorkingDirectory={{ keycloak_install_dir }}

EnvironmentFile={{ keycloak_env_file }}
Environment=KC_DATA_DIR={{ keycloak_install_dir }}/data

ExecStart={{ keycloak_install_dir }}/bin/kc.sh start

Restart=on-failure
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
