[Unit]
Description=Keycloak
After=network.target
Wants=network.target

[Service]
Type=simple
User={{ keycloak_user }}
Group={{ keycloak_group }}

# Load environment variables securely
EnvironmentFile={{ keycloak_env_file }}

ExecStart=/opt/keycloak/bin/kc.sh start \
  --http-enabled=true \
  --http-port={{ keycloak_http_port }} \
  --http-host=0.0.0.0

Restart=on-failure
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
