# ---------------- DATABASE ----------------
db=postgres
db-url=jdbc:postgresql://{{ keycloak_db_host }}:{{ keycloak_db_port }}/{{ keycloak_db_name }}
db-username={{ keycloak_db_user }}

# ---------------- HTTP / HTTPS ----------------
{% if keycloak_https_enabled | bool %}
http-enabled=false

https-port={{ keycloak_https_port }}
https-certificate-file={{ keycloak_tls_cert_file }}
https-certificate-key-file={{ keycloak_tls_key_file }}
{% else %}
http-enabled=true
http-port={{ keycloak_http_port }}
http-host=0.0.0.0
{% endif %}

# ---------------- HOSTNAME ----------------
hostname={{ keycloak_public_hostname }}
hostname-strict={{ keycloak_hostname_strict | lower }}
hostname-strict-https={{ keycloak_hostname_strict_https | lower }}

# ---------------- PROXY ----------------
proxy={{ keycloak_proxy_mode }}

# ---------------- OBSERVABILITY ----------------
{% if keycloak_observability_enabled | bool %}
http-management-enabled=true
http-management-port={{ keycloak_management_port }}
http-management-host=0.0.0.0

{% if keycloak_metrics_enabled | bool %}
metrics-enabled=true
{% endif %}

{% if keycloak_health_enabled | bool %}
health-enabled=true
{% endif %}

log-level={{ keycloak_log_level }}

{% if keycloak_log_format == "json" %}
log-console-output=json
{% endif %}
{% endif %}


# ---------------- CLUSTER / HA ----------------
{% if keycloak_ha_enabled | bool %}

cache=ispn
cache-stack=tcp

cluster={{ keycloak_cluster_name }}
node-name={{ keycloak_node_name }}

# VM-safe discovery
jgroups.discovery.protocol=JDBC_PING
jgroups.jdbc_ping.datasource=default

{% endif %}
