# Admin bootstrap
KC_BOOTSTRAP_ADMIN_USERNAME={{ keycloak_admin_user }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ keycloak_admin_password }}

# ---------------- Proxy ----------------
{% if keycloak_proxy_mode != "none" %}
KC_PROXY={{ keycloak_proxy_mode }}
{% endif %}
