{
  "realm": "external-idp-test",
  "enabled": true,

  "sslRequired": "{{ keycloak_realm_ssl_required | default('NONE') }}",

  "roles": {
    "realm": [
      {% for role in keycloak_default_roles %}
      { "name": "{{ role }}" }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },

  "groups": [
    {% for group in keycloak_default_groups %}
    {
      "name": "{{ group }}",
      "realmRoles": [
        {% for role in keycloak_group_role_mappings[group] %}
        "{{ role }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
